
h1, h2, h3, h4, h5, h6{
	
	font-family: 'Maven Pro', sans-serif;
	font-weight: bold;
	color:#000;
}

p{
}

ul{
	list-style: none;
}

.response-container{
	padding:30px 0px 30px;
}

.parking-response{
	    padding: 40px 0px 0px;
}

.parking-response p{
	color: #00ccff;
    font-size: 22px;
    font-weight: bold;
}

.btn-primary{
	background:#00ccff !important;
	border:0px;
	text-shadow: none;
	font-family: 'Days One', sans-serif;
}



.container .jumbotron, .container-fluid .jumbotron{
	border-radius: 0px;
	padding:40px 30px;
	background-color: #f7f7f7;
	box-shadow: 0px 20px 30px -10px #b1b1b1;
}

.jumbotron p{
	    font-size: 24px;
	    margin-bottom: 26px;
}

input.form-control{
	font-size: 18px;
	height:50px;
}